<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue</title>
</head>
<body>
Bienvenue, <span th:text="${username}"/>.
<br/>
<span th:if="${userDto.familyName != null}" th:text="${userDto.familyName}"></span> <br/>
<span th:if="${userDto.familyName == null}" th:text="'Le nom de famille n\' est pas renseignee'"></span>
<br/>
<span th:text="(${userDto.birthDate != null}? ${userDto.birthDate} : 'La date de naissance n\' est pas renseignee')"></span>
<br/>
<hr/>
<h1> Profil </h1>
<form action="#" method="post" th:action="@{/profil}" th:object="${userDto}" th:name="userDto">
    First Name : <input type="text" th:field="*{surname}" minlength="1">
    Last Name : <input type="text" th:field="*{familyName}" minlength="1">
    Birth Date: <input type="date" th:field="*{birthDate}"/>
    <button type="submit">Envoyer</button>
    <div th:if="${#fields.hasErrors('global')}">
        <p style="color: red;" th:each="err : ${#fields.errors('global')}" th:text="${err}" />
    </div>
</form>
<hr/>


<form th:action="@{/logout}">
    <button type="submit">se déconnecter</button>
</form>

<li th:each="user : ${users}" th:text="${user}"></li>

<form action="#" method="post" th:action="@{/request}" th:object="${requestDto}" >
    Demander à :
    <select th:field="*{to}" required>
        <option th:each="user : ${users} "
                th:value="${user}"
                th:text="${user}">un utilisateur...</option>
    </select>
    Relation : <input type="text" th:field="*{requestStr}" minlength="1" required>
    <button type="submit">Envoyer</button>
    <div th:if="${#fields.hasErrors('global')}">
        <p style="color: red;" th:each="err : ${#fields.errors('global')}" th:text="${err}" />
    </div>
    <span style="color: red;" th:if="${error != null}" th:text="${error}"></span> <br/>

</form>

<li th:each="relation : ${relations}" th:text="'Vous etes '+${relation.getRelationType()}+' avec '+${relation.getOtherUser(courant)}"></li>


</body>
</html>